@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Outfit:wght@400;600&display=swap');

:root {
    /* Color Palette */
    --red: #E1001E;
    --silver: #CFD9DF;
    --slateGrey: #4A6670;
    --purple: #2E294E;

    /* Dark Mode */
    --black: #202020;
    --componentBlack: #2F2F2F;

    /* White mode */
    --white: #FDFBFB;
    --componentgrey: #EBEDEE;

    /* Others */
    --grey: #DFDFDF;
    --green: #69995D;
    --coral: #EC2C26;
    --lightBlue: #60B2E5;

    /* Fonts */
    --h1: normal 800 80px 'Montserrat', 'Outfit', sans-serif;
    --h2: normal 700 50px 'Montserrat', 'Outfit', sans-serif;
    --h3: normal 700 40px 'Montserrat', 'Outfit',
    sans-serif;
    --subHeading: normal 20px 600 'Montserrat', 'Outfit', sans-serif; 
    --bodyText: normal 400 15px 'Outfit', 'Montserrat', sans-serif;
    --smallH: normal 12px 600 'Outfit', 'Montserrat', sans-serif;
    --smallBT: normal 10px 400 'Outfit', 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font: var(--bodyText);

    background: var(--grey) url('/images/Fundo.png') bottom center fixed;
    background-size: cover;
}

.h1 {
    font: var(--h1);
    color: var(--red);
}

.h2 {
    font: var(--h2);
    color: var(--red);
}

.h3 {
    font: var(--h3);
    color: var(--red);
}

.sub--heading {
    font: var(--subHeading);
    color: var(--black);
}

.body--text {
    font: var(--bodyText);
    color: var(--black);
}

.small--heading {
    font: var(--smallH);
    color: var(--black);
}

.big--red--btn {
    cursor: pointer;

    width: 300px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--red);
    font: var(--smallBT);
    color: var(--white);
}

.big--silver--btn {
    cursor: pointer;

    width: 300px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--silver);
    font: var(--smallBT);
    color: var(--white);
}

.big--purple--btn {
    cursor: pointer;

    width: 300px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--purple);
    font: var(--smallBT);
    color: var(--white);
}

.big--white--btn {
    cursor: pointer;

    width: 300px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--white);
    font: var(--smallBT);
    color: var(--white);
}

.small--red--btn {
    cursor: pointer;

    width: 150px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--red);
    font: var(--smallBT);
    color: var(--white);
}

.small--silver--btn {
    cursor: pointer;

    width: 150px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--silver);
    font: var(--smallBT);
    color: var(--white);
}

.small--purple--btn {
    cursor: pointer;

    width: 150px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 15px;

    background-color: var(--purple);
    font: var(--smallBT);
    color: var(--white);
}

.small--white--btn {
    cursor: pointer;

    width: 150px;
    height: 60px;

    border: none;
    border-radius: 50px;
    padding: 10px 20px;

    background-color: var(--white);
    font: var(--smallBT);
    color: var(--white);
}