main {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 150px 1fr;
}

.h1 {
    grid-column: 2;
    align-self: last baseline;
}

.reg--user--form {
    grid-column: 2;
    grid-row: 2;

    align-self: center;
    justify-self: center;

    background-color: var(--black);
    color: var(--white);

    border-radius: 30px;
    max-width: 1179px;
    max-height: 519px;

    margin: auto;
    padding: 100px 70px;

    display: flex;
    gap: 55px;
}

.form--col {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form--input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    text-indent: 20px;
}

.form-inpt {
    height: 46px;
    width: 300px;

    border: none;
    border-radius: 50px;
    background-color: var(--grey);
    padding: 0px 20px;
}

#input--image {
    display: none;
}

label {
    cursor: pointer;
}

.input--icon {
    background-color: var(--grey);
    border-radius: 50%;
}
